apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"secrets-store.csi.x-k8s.io/v1","kind":"SecretProviderClass","metadata":{"annotations":{},"labels":{"app":"authmanager","app.kubernetes.io/name":"authmanager"},"name":"authmanager-azure-keyvault","namespace":"muzika"},"spec":{"parameters":{"keyvaultName":"digeper","objects":"array:\n  - |\n    objectName: mysql-connection-string\n    objectType: secret\n    objectAlias: MYSQL_URL\n  - |\n    objectName: mysql-username\n    objectType: secret\n    objectAlias: MYSQL_USERNAME\n  - |\n    objectName: mysql-password\n    objectType: secret\n    objectAlias: MYSQL_PASSWORD\n  - |\n    objectName: jwt-secret\n    objectType: secret\n    objectAlias: JWT_SECRET\n","tenantId":"${TENANT_ID}","usePodIdentity":"false","useVMManagedIdentity":"true","userAssignedIdentityID":"${MANAGED_IDENTITY_CLIENT_ID}"},"provider":"azure","secretObjects":[{"data":[{"key":"MYSQL_URL","objectName":"MYSQL_URL"},{"key":"MYSQL_USERNAME","objectName":"MYSQL_USERNAME"},{"key":"MYSQL_PASSWORD","objectName":"MYSQL_PASSWORD"},{"key":"JWT_SECRET","objectName":"JWT_SECRET"}],"secretName":"authmanager-secrets","type":"Opaque"}]}}
  creationTimestamp: "2026-01-08T00:24:42Z"
  generation: 3
  labels:
    app: authmanager
    app.kubernetes.io/name: authmanager
  name: authmanager-azure-keyvault
  namespace: muzika
  resourceVersion: "107294"
  uid: f11afe7b-d0d6-4eb6-bdfb-f18f3c600da4
spec:
  parameters:
    keyvaultName: digeper
    objects: |
      array:
        - |
          objectName: mysql-connection-string
          objectType: secret
          objectAlias: MYSQL_URL
        - |
          objectName: mysql-username
          objectType: secret
          objectAlias: MYSQL_USERNAME
        - |
          objectName: mysql-password
          objectType: secret
          objectAlias: MYSQL_PASSWORD
        - |
          objectName: jwt-secret
          objectType: secret
          objectAlias: JWT_SECRET
    tenantId: a6cc90df-f580-49dc-903f-87af5a75338e
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "571b12d8-bd08-42f6-ba10-9f5f2c30d54c"
  provider: azure
  secretObjects:
  - data:
    - key: MYSQL_URL
      objectName: MYSQL_URL
    - key: MYSQL_USERNAME
      objectName: MYSQL_USERNAME
    - key: MYSQL_PASSWORD
      objectName: MYSQL_PASSWORD
    - key: JWT_SECRET
      objectName: JWT_SECRET
    secretName: authmanager-secrets
    type: Opaque
